*{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    margin-top: 40vh;
    justify-items: center;
    padding-left: 8%;
    padding-right: 8%;

}
button{
    border: 2px solid orange;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: transparent;
    color: black;
    font-size: 14px;
}
button:hover{
    background-color: orange;
}
btn-txt{
    display: grid;
}
.arrow {
    max-width: 50%;
    margin-top: 15px;
    margin-top: 10px;
    margin-right: 10px;
}
.arrow-btn {
    display: inline-flex;
    justify-content: space-between;
}
  .arrow > img:nth-child(1) {
    margin-left: 10px;
}
.main-content {
    text-align: center;
}   
